$paragraph-spacing: 10px;
$header-top-spacing: 25px;

@mixin margin-top-bottom($m) {
    margin-top: $m;
    margin-bottom: $m;
}

@mixin p-space {
    @include margin-top-bottom($paragraph-spacing)
}

@mixin h-space {
    margin-top: $header-top-spacing;
    margin-bottom: $paragraph-spacing;
}

.post-tags {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        li {
            list-style-type: none;
            margin-left: 10px;
            border: 1px solid $box-border-color;
            padding: 3px;
            @include margin-top-bottom(3px);
        }
    }
}


.post-title {
    font-size: 29px;
    text-align: left;
    line-height: 30px;
}

.post-author {
    margin-top: 5px;
    color: $light-text-color;
}

.post-date {
    color: $light-text-color;
}

.post-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 750px) {
    .post-bar {
        flex-direction: column;
        align-items: start;
    }
}

.post-tags {
    div {
        color: $light-text-color;
    }
}

.post-share {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

        li {
            list-style-type: none;
            margin-right: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}


code.highlighter-rouge {
    background-color: $code-bg-color;
    border: 1px solid $code-border-color;
    padding: 1px;
}

pre.highlight {
    overflow-x: auto;
}

article {
    p {
        @include p-space();
    }

    ul {
        margin-left: 30px;
        @include p-space();
    }

    h2 {
        font-size: 24px;
        @include h-space();
    }

    h3 {
        font-size: 21px;
        @include h-space();
    }
}

.post-nav {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div {
        border: 1px solid $box-border-color;
        padding: 10px;
        width: 45%;
        text-align: center;
    }
}

a.share-bluesky {
    border-radius: 0.2em;
    background: #1185fe;
    height: 21px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;

    svg {
        height: 21px;
        width: 21px;
        margin-right: 3px;
    }

    span {
        line-height: 21px;
        font-size: 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif;
    }
}