$bg-color: #1c1c1c;

$text-color: #ececec;
$light-text-color: #bfbfbf;
$link-color: rgb(135, 135, 248);

$box-border-color: white;

$code-bg-color: #151515;
$code-border-color: #575757;

$scroller-color: #1e1e1e;
$scrollbar-color: #343434;