---
layout: default
---

<article>
    <header>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-author">Author: {{ page.author }}</div>
        <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
        <div class="post-bar">
            <div class="post-tags">
                <div>Tags</div>
                <ul>
                    {% for tag in page.tags %}
                    <li><a href="/tags#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="post-share">
                <ul>
                    <li>
                        <a class="share-bluesky" target="_blank" title="Share on Bluesky"
                            href="https://bsky.app/intent/compose?text={{ site.url }}{{ page.url }}">
                            <svg width="1em" height="1em" fill="#fff" viewBox="0 0 600 530"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z" />
                            </svg>
                            <span>Skeet</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                            data-show-count="false"></a>
                    </li>
                    <li>
                        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        <script type="IN/Share" data-url="{{ site.url }}{{ page.url }}"></script>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {{ content }}

    {% if page.attachments %}
    <h2>Attachments</h2>
    <ul class="attachments">
        {% for attachment in page.attachments %}
        <li>
            <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                    d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z" />
            </svg>
            <div>
                <p>
                    <a href="/assets/attachments/{{ page.attachments-dir }}/{{ attachment.filename }}" download>{{
                        attachment.filename }}</a>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</article>

<div class="post-nav">
    <div>
        {% if page.previous.url %}
        <a href="{{ page.previous.url }}">
            Previous post: {{ page.previous.title }}
        </a>
        {% else %}
        Hey this is the first post!
        {% endif %}
    </div>
    <div>
        {% if page.next.url %}
        <a href="{{ page.next.url }}">
            Next post: {{ page.next.title }}
        </a>
        {% else %}
        No more recent posts, sorry!
        {% endif %}
    </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>