---
layout: default
---

<article>
    <header>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-author">Author: {{ page.author }}</div>
        <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
        <div class="post-bar">
            <div class="post-tags">
                <div>Tags</div>
                <ul>
                    {% for tag in page.tags %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="post-share">
                <ul>
                    <li>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                            data-show-count="false"></a>
                    </li>
                    <li>
                        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        <script type="IN/Share" data-url="{{ site.url }}{{ page.url }}"></script>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {{ content }}
</article>

<div class="post-nav">
    <div>
        {% if page.previous.url %}
        <a href="{{ page.previous.url }}">
            Previous post: {{ page.previous.title }}
        </a>
        {% else %}
        Hey this is the first post!
        {% endif %}
    </div>
    <div>
        {% if page.next.url %}
        <a href="{{ page.next.url }}">
            Next post: {{ page.next.title }}
        </a>
        {% else %}
        No more recent posts, sorry!
        {% endif %}
    </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>